.t{
    padding: 5px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.t-texts{
    width: 65%;
}
.t-title{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    align-items: center;
}
.t-desc{
    margin: 20px 0px;
}
.t-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.t2-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
@media screen  and (max-width:480px){

    .t{
        padding: 10px;        
    }


  }
