.intro{
    display: flex;
}
.intro-left{
    flex: 1;
    padding: 0 1rem;
}
.intro-right{
    flex: 1;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: rgb(103, 104, 102);
}
.intro-img{
    object-fit: cover;
    padding-left: 20%;
    height: 100%;
}
.intro-name{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}
.intro-intro{
    margin-top: 5%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.intro-desc{
    text-align: center;
    margin: 3%;
    font-size: 1.5rem;
}
.intro-title{
    display: flex;
    justify-content: center;
    height: 50px;
    overflow: hidden;
}
.intro-title-wrapper{
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}
.intro-title-item{
 height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;
}
@keyframes move{
    25%{
        transform: translateY(-50px );
    }
    50%{
        transform: translateY(-100px );
    }
    75%{
        transform: translateY(-150px );
    }
    100%{
        transform: translateY(-200px );
    }
}
a button{
    margin-top: 2%;
    background-color: #59b256;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

@media screen  and (max-width:480px){
    .intro{
        display: block;
    }
    .intro-left{
        display: block;
        padding: 0;
    }
    .intro-right{
        display: block;
        padding-left: 15%;
        height:20rem
    }
    .intro-img{
        object-fit: cover;
        padding-left: 0%;
    }
    .intro-name{
        font-size: 3rem;
        margin-bottom: 0.2rem;
    }
    .intro-intro{
        font-size: 1.5rem;
    }
    .intro-desc{
        font-size: 1rem;
    }
    .intro-title{
        height: 20px;
    }
    .intro-title-wrapper{
      height: 100%;
    }
    .intro-title-item{
     height: 20px;
      font-size: 20px;
    }
    @keyframes move{
        25%{
            transform: translateY(-25px );
        }
        50%{
            transform: translateY(-50px );
        }
        75%{
            transform: translateY(-75px );
        }
        100%{
            transform: translateY(-100px );
        }
    }
}